/* styles for the "meta data" section on upload_assignment.jsp */
.metaWrapper {
  margin: 0 0 0 -12px;
  display:table;
  border-spacing: 12px 0;
}
.metaSection {
  display:table-cell;
  border:1px solid #ddd;
  padding:9px 18px;
  vertical-align:top;
  width:33%;
  white-space:nowrap;
}
/* for overriding elements previously tagged with nowrap, such as .metaSection */
.normalWrap{
  white-space:normal !important;
}

/* quick and dirty RTL style. only twos changes needed, so did not want to create a separate stylesheet */
html[dir=rtl] .metaWrapper {
  margin: 0 -12px 0 0;
}

.metaLabel {
  color: #777777;
  padding: 0 0 6px;
  text-align: center;
}
.metaField {
  font-size: 112.2%;
  font-weight: bold;
  text-align: center;
}
.metaSubInfo {
  display:block;
  margin:6px 0 0;
  font-size: 89.1%;
  font-weight: normal;
  color:#777;
}
.metaSubInfo input {
  padding:2px 4px!important;
}

.crocodoc_iframe_embed, .submission.text {
  min-height: 950px;
}

.inlineOptions, .inlineOptions div {
 display: inline;
}